<div class="footer-adj">

</div>
<div id="footer" class="footer-segment">

  <footer class="footer-container">

    <div class="social facebook">
      <a href="mailto:nithin.leo14@gmail.com?Subject=Hi%20Nithin," target="_top">
        <i class="fab fa-facebook-f"></i>
        </a>
    </div>


    <div class="social twitter"><a href=""><i class="fab fa-twitter"></i></a></div>

    <div class="social github"><i class="fab fa-github"></i></div>
    <div class="social googleplus"><i class="fab fa-google-plus-g"></i></div>
    <div class="social linkedin"><i class="fab fa-linkedin-in"></i></div>
    <div class="social mail"><i class="fas fa-envelope"></i></div>
    <div class="social bitbucket"><i class="fab fa-bitbucket"></i></div>
    <div class="social bitbucket"><i class="fab fa-stack-overflow"></i></div>


  </footer>
  <p>Developed by Nithin A N &copy; Leo</p>
</div>

</div>
<!--page-segment-->


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
</body>

</html>
