<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>

<body>

    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
            <div class="header item"><a href="/movie"><i class="film icon"></i> MovieDB </a></div>
            <a class="active item" href="/movie">Home</a>
            <a class="item" href="/movie/new">Add Movie</a>
            <a class="item">Search</a>
            <div class="right menu">
                <a class="right floated item">Login</a>
                <a class="right floated item">Sign Up</a>
            </div>
        </div>
    </div>
