<nav class="main-nav navbar navbar-dark bg-dark navbar-expand-lg">

            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle Navigation">
            <span class="navbar-iconbar bar1"></span>
            <span class="navbar-iconbar bar2"></span>
            <span class="navbar-iconbar bar3"></span>
        </button>
            <a class="navbar-brand pl-md-3" href="/movie"><i class="fas fa-film pr-2"></i>MovieDB</a>
            <div class="collapse navbar-collapse align-items-center" id="navLinks">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/movie/all/1" class="pr-4 nav-link selected">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="/movie/new" class="pr-4 nav-link">Add Movie</a>
                    </li>

                    <li class="nav-item" >
                        
                        <a href="/movie/list/a" class="pr-4 nav-link" id="list-menu">List</a>
                    </li>

                    <li class="nav-item">
                        <a href="/" class="pr-4 nav-link">Search</a>
                    </li>


                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Sign Up</a>
                    </li>
                </ul>

            </div>
        </nav>